.btmenu{display:flex;}
.table{}
th{text-align: center;font-weight: 600;}
.grp{font-size: 16pt; font-weight: 600;}
tbody tr{cursor:pointer;}
tbody tr:hover{background: #74f0f5;}
.col1{width:50px;}
.col2{width:200px;}
.col3{width:170px;}
.col4{width:170px;}
.col5{width:250px;}
.col6{width:150px;}
.ccolor{display: inline-flex;font-weight: 600;}
.ccolor>span{display: block;margin: auto 2px;}
.detects.color{color:#ed1010;}
.detectn{font-size: 8pt;}
.detectn.color{color:#1717c9;}
.viewas{margin: 0 10px;font-size: 14pt;}